html, body {
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
}
.navbar-brand {
	color: white !important;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	font-size: 24px;
	}
h1 {
	font-family: 'Oswald', sans-serif;
	color: yellow;
	font-size: 172px;
	font-weight: bold;
	letter-spacing: 2px;
	}
p {
	font-size: 1.8em;
}
@media (max-width: 767px) {
.menu {
	position: absolute;
	/*background-color: yellow;*/
	right: 0;
	left: auto;
}
}

.photo {
	height: 250px;
/*	width: 250px;
*/	background-color: red;
}
nav {
	padding: 20px;
}
#navlinks {
	color: white;
	font-size: 18px;
}

