html, body {
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Raleway', sans-serif;
}

.navbar-brand {
/*	color: white !important;
*/	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	font-size: 24px;
	}
h1 {
	font-family: 'Oswald', sans-serif;
	color: yellow;
	font-size: 172px;
	font-weight: bold;
	letter-spacing: 2px;
	}
p {
	font-size: 1.8em;
}
@media (max-width: 767px) {
.menu {
	position: absolute;
	/*background-color: yellow;*/
	right: 0;
	left: auto;
}
}

/*.photo {
	height: 250px;
	width: 250px;
	background-color: red;
}*/
nav {
	padding: 2px 10px; 
}
#navlinks {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 18px;
	letter-spacing: 2.5px;
}

.media-logos {
	text-align: center;
}

.logos {
	width: 30px;
	height: 30px;
	margin: 20px;
}

.fa-envelope {
    font-size: 30px;
    margin: 20px;
    color: #d6d4d4;
    width: 45px;
    height: 50px;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    line-height: 30px;
}
.media-icons ul {
	display: inline;
	line-height: 41px
}